/*重设*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
ul,li{
	list-style: none;
}
/* 获得焦点时不会出现虚线框 */
:focus {outline: 0;}
/* line-height会根据自身元素的font-size改变 */
body{line-height: 1;}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.icon{
	background-image: url('../img/icons.png');
}
*{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
/*主体
****************************************************************************/
body{
	background-color: #fff;
	background-image: linear-gradient(#f3f3f3 2px,transparent 2px),
					linear-gradient(0,#f3f3f3 2px,transparent 2px),
					linear-gradient(hsla(0,92%,0%,.03) 1px,transparent 1px),
					linear-gradient(0,hsla(0,92%,0%,.03) 1px,transparent 1px);
	background-size: 100px 100px,100px 100px,20px 20px,20px 20px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: 16px;
}

#wrapper{
	width: 90%;
	margin: 0 auto;
}

#header{
	width: 97.91666667%;
	height: 6.5em;
	margin: 0 0.01041666% 2em 0.01041666%;
	position: relative;
}

#nav{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

#nav ul li{
	display: inline-block;
	margin-right: 14%;
}

#nav ul li:last-child{
	margin-right: 0;
}

#nav ul li a img{
	width: 3.125em;
	height: 3.125em;
	max-width: 125px;
	display: inline-block;
	vertical-align: middle;
}

#nav ul li a{
	text-decoration: none;
}

#nav ul li a span{/*hover*/
	font-size: 1.5em;
	vertical-align: bottom;
}

#nav ul li:nth-child(odd) a  span{
	color: #FF102F;
}

#nav ul li:nth-child(even) a  span{
	color: #333;
}

/*content
*******************************************************************************************************/
#content{
	width: 72.9166666%;
	margin: 1.875em 0.01041666%;
	float: right;
}
/*index*******************************************************************************/
#index #content>*{
	float: left;
	display: block;
}

#index #content img{
	width: 25%;
	max-width: 280px;
	margin-right: 2%;
}

#index #content h1{
	width: 72%;
	font-size: 2.8125em;
	margin: 2% 0 3% 1%;
	letter-spacing: 0.4em;
	color: #000;
	font-weight: 600;
	text-shadow: 4px 4px 1px #DAD7D7;
}

#index #content em{
	width: 72%;
	font-size: 1.5em;
	font-family: 'Glyphicons Halflings';
	margin-bottom: 2%;
	color: #504E4E;
	line-height: 2em;
	letter-spacing: 0.3125em;
}

#index #content p{
	width: 72%;
	font-size: 1.25em;
	color: #504E4E;
	line-height: 1.625em;
	letter-spacing: 0.3125em;
	text-indent: 2em;
}
/*info*******************************************************************************/
#info #content{
	
}

#info #content>*{
	width: 100%;
	float: left;
}
#info #content h1{
	font-size: 2.5em;
	color: #333;
	font-weight: 200;
}

#info #content h1 span{
	font-size: 0.35em;
	color: #ccc;
}

#info #content h2{
	font-size: 1.25em;
	font-weight: 600;
	margin: 1.5em 0 1em 0;
}

#info #content h3{
	font-size: 1.125em;
	margin-bottom: 0.8em;
	font-weight: 600;
}

#info #content>p{
	text-indent: 2em;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

#info #content .info-item{
	border: 1px solid #d3d3d3;
	margin-bottom: 1.5em;
}

#info #content .info-item .info-img{
	width: 24%;
	height: 100%;
	padding: 1%;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	float: left;
	text-align: center;
}

#info #content .info-item .info-img img{
	width: 100%;
	display: inline-block;
	max-width: 220px;
}

#info #content .info-item .info-text{
	width: 73%;
	padding-top: 0.5em;
	margin-left: -1px;
	border-left-width: 1px;
	border-left-color: #d3d3d3;
	border-left-style: solid;
	float: left;
}

#info #content .info-item .info-text p{
	width: 95%;
	font-size: 0.75em;
	margin: 0.3em 0 0.5em 3%;
	letter-spacing: 0.05em;
	line-height: 1.8em;
}

#info #content .info-item .info-text a{
	color: #136EC2;
	text-decoration: none;
}

#animation #content{
	position: relative;
}

#animation #content span{
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 0.3em;
	background-color: #fff;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#animation #content .seasons{
	height: 2.5em;
	float: left;
	margin-bottom: 0.5em;
}

#animation #content .seasons span{
	line-height: 2.5em;
	margin-right: 2em;
}

#animation #content .seasons div.tag{
	font-size: 0.75em;
	padding: 0;
	border: 0;
	color: #d3d3d3;
	display: inline-block;
}

#animation #content .row{
	width: 100%;
	height: 1.6em;
	float: left;
	overflow: hidden;
	position: absolute;
	top: 3em;
	background-color: #fff;
}

#animation #content .row .episodes{
	width: 94%;
	float: left;
}

#animation #content .row .episodes span{
	width: 15%;
	min-width: 126px;
	float: left;
	margin-right: 3.5%;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

#animation #content .row .toggle{
	width: 26px;
	float: left;
}

#animation #content .row .toggle span{
	width: 26px;
	float: left;
	font-size: 0.8em;
}

#animation #content #player{
	width: 100%;
	float: left;
	position: relative;
	margin-top: 3em;
	max-width: 885px;
	max-height: 643px;
}


/*@show @selected********************************************************************************/
#animation #content .row.show{
	height: auto;
}
#animation #content .seasons span:hover,
#animation #content .row .episodes span:hover,
#animation #content .row .toggle span:hover,
#animation #content .seasons span.selected,
#animation #content .row .episodes span.selected,
#animation #content .row .toggle span.selected{
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	cursor: pointer;
	border-color: #00A1D6;
	background-color: #00A1D6;
	color: #fff;
}




















/*sidebar
*******************************************************************************************************/
#sidebar{
	width: 23.40425532%;
	margin: 1.875em 0.01041666%;
	padding-bottom: 0.625em;
	background-color: #fff;
	float: left;
	background: linear-gradient(90deg,#fff 0%,#e4e4e4 48.7%,#fff 100%);
}

#sidebar .row{
	width: 100%;
	display: block;
	float: left;
}

#sidebar .about{
	width: 100%;
	font-size: 1.5em;
	font-weight: 600;
	margin: 0.625em 0 0.9375em 0.625em;
	float: left;
	font-family: "幼圆";
}

#sidebar a{/*hover*/
	width: 49%;
	height: 10em;
	display: block;
	float: left;
	text-align: center;
}

#sidebar a img{
	width: 80%;
	max-width: 150px;
	display: inline-block;
	margin-bottom: 0.3125em;
	border-radius: 50%;
}

#sidebar a p{
	width: 80%;
	font-size: 1em;
	text-align: center;
	display: inline-block;
	color: #504E4E;
}

/*footer
*******************************************************************************************************/
#footer{
	width: 95.91666667%;
	height: 20em;
	margin: 0 0.11041666%;
	clear: both;
	background-image: url(../img/footer.png); 
	background-size: cover;
	background-repeat: no-repeat;
}


/*animation
***************************************************************************************/
#nav ul li a span{
	transition: text-shadow 0.5s;
	-moz-transition: text-shadow 0.5s;
	-webkit-transition: text-shadow 0.5s;
	-o-transition: text-shadow 0.5s;
}

#nav ul li a:hover  span{
	text-shadow: 0 0 15px #333;
}

body#index #nav ul li:nth-child(1) a span,
body#info #nav ul li:nth-child(2) a span,
body#animation #nav ul li:nth-child(3) a span,
body#novel #nav ul li:nth-child(4) a span,
body#about #nav ul li:nth-child(5) a span{
	text-shadow: 0 0 15px #333;
}

#sidebar a img{
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
}

#sidebar a:hover img{
	width: 90%;
}

/*media
*****************************************************************************************/
@media screen and (max-width:2500px){
	body{font-size: 26px;}
}

@media screen and (max-width:2400px){
	body{font-size: 25px;}
}

@media screen and (max-width:2300px){
	body{font-size: 24px;}
}

@media screen and (max-width:2200px){
	body{font-size: 23px;}
}

@media screen and (max-width:2100px){
	body{font-size: 22px;}
}

@media screen and (max-width:2000px){
	body{font-size: 21px;}
}

@media screen and (max-width:1900px){
	body{font-size: 20px;}
}

@media screen and (max-width:1800px){
	body{font-size: 19px;}
}

@media screen and (max-width:1700px){
	body{font-size: 18px;}
}

@media screen and (max-width:1600px){
	body{font-size: 17px;}
}

@media screen and (max-width:1500px){
	body{font-size: 16px;}
}

@media screen and (max-width:1400px){
	#header ul li{margin-right: 13%}
}

@media screen and (max-width:1300px){
	#header ul li{margin-right: 12%}
}

@media screen and (max-width:1200px){
	#header ul li{margin-right: 11%}
}

@media screen and (max-width:1100px){
	#header ul li{margin-right: 10%}
	#sidebar a{height: 11em;}
}

@media screen and (max-width:1000px){
	#header ul li{margin-right: 9%}
	#sidebar a{height: 11em;}
}

@media screen and (max-width:960px){
	#header ul li{margin-right: 8%}
	#sidebar a{height: 12em;}
}

@media screen and (max-width:959px){
	#header ul li{margin-right: 6%}
	#content,#sidebar{
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	#sidebar .row{width: 49%;}
	#index #content p:last-child{
		width: 96%;
		margin: 2%;
	}
}

@media screen and (max-width:800px){
	#header ul li{margin-right: 4.5%}
}

@media screen and (max-width:700px){
	#header ul li{margin-right: 4%}
	#info #content{font-size: 14px}
	#animation #content .row .episodes{width: 80%;}
	#sidebar{font-size: 13px}

}

@media screen and (max-width:600px){
	#header ul li{margin-right: 3%}
	#header {font-size: 11px}
	#footer{background-size: contain;}
	#index #content,#footer{font-size: 12px}
}

@media screen and (max-width:500px){
	#header ul li{margin-right: 2.5%}
	#header {font-size: 10px}
	#index #content,#footer{font-size: 11px}
	#index #content p{
		width: 96%;
		margin: 2%;
	}
}

@media screen and (max-width:400px){
	#header {font-size: 8px}
	#header ul li{margin-right: 2%}
	#sidebar{font-size: 10px}
	#index #content,#footer{font-size: 10px}
	#info #content h1 span{
		width: 100%;
		display: block;
		margin-top: 0.5em;
	}
	#animation #content .seasons span{
		font-size: 0.8em;
		margin-right: 0.5em;
	}
}

@media screen and (max-width:350px){
	#header {font-size: 7px}
	#header ul li{margin-right: 1.8%}
	#index #content,#footer{font-size: 9px}
	#info #content h2{margin-top: 1em;}
}

@media screen and (max-width:319px){
	#index #content,#footer{font-size: 8px}
}






	


